# Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database
MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/your_db?retryWrites=true&w=majority

# Authentication
JWT_SECRET=your_jwt_secret_key

# Third-Party Services
SEMAPHORE_API_KEY=your_semaphore_api_key
MAILTRAP_API_TOKEN=your_mailtrap_api_token
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
